/* Text */
$fontFamily-1: "BebasNeue-Bold";
$fontFamily-2: "OpenSans-Regular";
$fontFamily-3: "OpenSans-SemiBold";
$fontFamily-4: "OpenSans-Bold";


$colorText-1:#ffffff;
$colorText-2:#48555B;
$colorText-3:#00A4E5;


$Background-1:#48555B;
$Background-1:#00A4E5;



/* Breakpoints */
$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
$xxl:1400px;